í•œêµ­ ì‘í’ˆì€ ì´ ì–¼ë§ˆë‚˜ ìˆëŠ”ê°€?  
country columnì„ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤.  
"South Korea"ì¸ ê²½ìš°ë§Œ ì¸ì •í•œë‹¤. ("US, South Korea"ëŠ” ì¸ì •í•˜ì§€ ì•ŠìŒ)

In [1]:
import pandas as pd

In [15]:
net = pd.read_csv("./netflix_titles.csv")

net.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [19]:
net['country'][104]

'South Korea'

In [18]:
net_count = net[net['country'] == 'South Korea']['country']

net_count

104     South Korea
124     South Korea
289     South Korea
456     South Korea
545     South Korea
           ...
8463    South Korea
8467    South Korea
8575    South Korea
8613    South Korea
8684    South Korea
Name: country, Length: 199, dtype: object

In [11]:
net_count = net[net['country'] == 'South Korea']['country'].count()

net_count

199

ë„·í”Œë¦­ìŠ¤ì—ì„œ ê°€ì¥ ë§ì€ ì‘í’ˆì„ ë§Œë“  ë‚˜ë¼ê°€ ì–´ë””ì´ê³ , ì–¼ë§ˆë‚˜ ë§ì€ ì‘í’ˆì„ produceí–ˆëŠ”ì§€ ì•Œì•„ë³´ì.

ê°€ì¥ ë§ì€ ì‘í’ˆì´ ì˜¬ë¼ê°„ êµ­ê°€ëŠ” ì–´ë””ì´ê³ , ì–¼ë§ˆë‚˜ ë§ì€ ì‘í’ˆì´ ìˆëŠ”ê°€?  
country columnì„ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤.  
ë‹¨ì¼ êµ­ê°€ì¸ ê²½ìš°ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ê²°ê³¼ë¥¼ êµ¬í•´ë³´ì.

In [41]:
net_by_country = net['country'].value_counts()

net_by_country.head(1)

United States    2818
Name: country, dtype: int64

2017ë…„ í•œ í•´ì˜ ê°€ê²©ì˜ ë³€í™”ë¥¼ ë³´ì—¬ì£¼ë ¤ê³  í•œë‹¤. ê·¸ëŸ°ë° ë§¤ì¼ë§¤ì¼ì˜ ë°ì´í„°ë¥¼ ë³´ì—¬ì£¼ëŠ” ê²ƒë³´ë‹¤ ì´ê²ƒì˜ ì¶”ì„¸ë¥¼ í‘œí˜„í•´ì£¼ë©´ ì¢‹ê² ë‹¤ëŠ” ìƒê°ì´ ë“¤ì–´ Moving Average(ì´ë™í‰ê· ë²•) ë¥¼ ë„ì…í•˜ê³ ì í•œë‹¤.

2016.6 ~ 2017.6 ê¸°ê°„ì˜ 5-MA(Moving Average) ë¹„íŠ¸ì½”ì¸ ê°€ê²© ê·¸ë˜í”„ë¥¼ ê·¸ë ¤ì£¼ì„¸ìš”.

ì„ ì˜ ìƒ‰ê¹”ì€ ë…¸ë€ìƒ‰(#f2a900) ìœ¼ë¡œ í•´ì•¼í•©ë‹ˆë‹¤.
x-axis labelê³¼ y-axis labelì€ ì ì ˆí•œ í…ìŠ¤íŠ¸ë¡œ ì¶”ê°€ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.
ì´ë™í‰ê· ì˜ ê¸°ì¤€ì€ Open Columnìœ¼ë¡œ ê³„ì‚°í•©ë‹ˆë‹¤.
ì´ì™¸ì—ë„ ê·¸ë˜í”„ë¥¼ ì•Œì•„ë³´ê¸° ì‰½ê²Œ í•˜ê¸° ìœ„í•œ ì •ë³´(Text, Facet ë“±)ì„ ì¶”ê°€í•˜ëŠ” ê²ƒë„ ì¢‹ìŠµë‹ˆë‹¤.
ğŸ’¡ ì´ë™í‰ê· (Moving Average)ë²•ì€ ì‹œê³„ì—´ ë°ì´í„°ë¥¼ í‘œí˜„í•˜ëŠ” ë°ì— ë§ì´ ì‚¬ìš©í•˜ëŠ” ë°©ë²• ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤.

In [43]:
bit = pd.read_csv('./BitCoin.csv')

bit

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap
0,0,2017-09-22,3628.02,3758.27,3553.53,3630.70,1.194830e+09,60152300000
1,1,2017-09-21,3901.47,3916.42,3613.63,3631.04,1.411480e+09,64677600000
2,2,2017-09-20,3916.36,4031.39,3857.73,3905.95,1.213830e+09,64918500000
3,3,2017-09-19,4073.79,4094.07,3868.87,3924.97,1.563980e+09,67520300000
4,4,2017-09-18,3591.09,4079.23,3591.09,4065.20,1.943210e+09,59514100000
...,...,...,...,...,...,...,...,...
1604,1604,2013-02-05,116.38,125.60,92.28,105.21,6.722784e+06,1292190000
1605,1605,2013-01-05,139.00,139.89,107.72,116.99,8.026719e+06,1542820000
1606,1606,2013-04-30,144.00,146.93,134.05,139.00,8.312655e+06,1597780000
1607,1607,2013-04-29,134.44,147.49,134.00,144.54,7.757951e+06,1491160000
1608,1608,2013-04-28,135.30,135.98,132.10,134.21,7.806648e+06,1500520000